@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/services1.css");

/* CSS variables for reusablity across all files (including above imported) */
:root {
	/* 
    "sf pro", Sans-serif 
    "TEXT", Sans-serif
    */

	--font-inter: "Inter", "sans-serif";
	--font-nunito: "Nunito";
	--font-jost: "Jost", "sans-serif";

	--primary-color: #134872;
	--secondary-color: #29c553;

	--btn-bg: #70aa26;
	--btn-text: #fff;

	--bg-main: #ffffff;
	--bg-grey: #f2f2f2;

	--text-primary: #ffffff;
	--text-secondary: #4d4e50;
	--text-special: #ffffffcc;

	--text-black-50: #00000080;
	--text-black-200: #212833;
	--text-neutral: #4c5267;
	--text-gray-200: #777777;

	--black-300: #333333;
	/* --color-creamson: #fff0de; */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	/* max-width: 1280px; */
	margin: 0 auto;
	color: #000000;
	background-color: var(--bg-main);
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-family: var(--font-inter);
	font-size: 50px;
	font-weight: 600;
	line-height: 70px;
	color: var(--primary-color);
}

h1 > span {
	color: var(--secondary-color);
}

p {
	font-family: var(--font-nunito);
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
