@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* Common UI components */
@import url("main/header.css");
/* @import url("home/footer.css"); */

/* Home page */
@import url("home/hero.css");
@import url("home/services1.css");
@import url("home/portfolio.css");
@import url("home/support.css");
@import url("home/partnership-industry.css");
@import url("home/solutions.css");

/* About page */
@import url("about/about-hero.css");
@import url("about/about-banner.css");
@import url("about/about-main.css");

@font-face {
	font-family: "sf pro", Sans-serif;
	src: url("/fonts/sfPro-Semibold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "TEXT", Sans-serif;
	src: url("/fonts/customText-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

/* CSS variables for reusablity across all files (including above imported) */
:root {
	--font-sfpro: "sf pro", Sans-serif;
	--font-text: "TEXT", Sans-serif;

	--font-inter: "Inter", "sans-serif";
	--font-nunito: "Nunito";
	--font-jost: "Jost", "sans-serif";

	--primary-color: #134872;
	--secondary-color: #29c553;
	--secondary-color-2: #70aa26;

	--btn-bg: #70aa26;
	--btn-text: #fff;

	--bg-main: #ffffff;
	--bg-grey: #f2f2f2;

	--text-primary: #ffffff;
	--text-secondary: #4d4e50;
	--text-accent: #61ce70;

	--text-black-50: #00000080;
	--text-black-200: #212833;
	--text-neutral: #4c5267;
	--text-grey-100: #ffffffcc;
	--text-gray-600: #777777;

	--black-300: #333333;
	/* --color-creamson: #fff0de; */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	/* max-width: 1280px; */
	margin: 0 auto;
	color: #000000;
	background-color: var(--bg-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-sfpro);
	font-size: 50px;
	font-weight: 600;
	line-height: 70px;
	color: var(--primary-color);
	margin: 0;
}

h1 > span,
h2 > span,
h3 > span {
	color: var(--secondary-color);
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	font-family: var(--font-text);
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
}

ul,
li,
a,
p,
span,
div {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

figure {
	margin: 0px;
	padding: 0px;
}

button {
	cursor: pointer;
	margin: 0px;
}

.btn:hover {
	text-align: center;
	padding: 12px 20px;
	background-color: var(--btn-bg);
	color: var(--btn-text);
	border-radius: 0px;
}

.btn {
	/* width: 100%; */
	width: fit-content;
	font-family: var(--font-text);
	font-size: 14px;
	text-align: center;
	height: auto;
	padding: 12px 20px;
	background-color: var(--btn-bg);
	color: var(--btn-text);
	border-radius: 0px;
}

.btn-hover:hover {
	background-color: var(--primary-color);
}

.container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 2px;
}

.m-top {
	padding-top: 69px;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 1023px) {
	/* Styles here apply to screen widths less than 1024px */

	h1,
	h2 {
		font-size: 45px;
	}

	.container {
		padding-inline: 0.25rem;
	}
}

@media (max-width: 767px) {
	.container {
		padding-inline: 0rem;
	}
}
