.portfolio {
	padding: 0px;
}

.portfolio-header {
	padding-top: 12px;
	padding-inline: 10px;
	text-align: left;
	display: flex;
	flex-direction: column;
}

.portfolio-header h5 {
	font-size: 16px;
	font-family: var(--font-text);
	color: var(--secondary-color);
}

.portfolio-header p {
	margin-bottom: 16px;
	font-size: 18px;
	font-family: var(--font-text);
	color: var(--text-secondary);
}

.portfolio-cards {
	background-color: var(--primary-color);
	padding: 48px 0%;
}

.portfolio-container {
	display: flex;
	align-items: stretch;
	padding: 48px 12px;
	font-family: var(--font-nunito);
}

.portfolio-container > div {
	width: 50%;
}

.portfolio-content {
	display: flex;
	flex-direction: column;
	/* justify-content: space-evenly; */
	align-items: flex-start;

	text-align: left;
}

.portfolio-content__logo {
	margin-bottom: 10px;
	max-width: 180px;
}

.portfolio-content__logo img {
	height: auto;
	max-width: 100%;
}

.portfolio-content__description {
	margin-top: 20px;
	margin-bottom: 30px;
}

.portfolio-content__description p {
	color: var(--text-grey-100);
	font-size: 125%;
	text-shadow: none;
	line-height: 1.6;
	font-style: normal;
	letter-spacing: normal;
	word-spacing: normal;
	font-weight: 400;
}

.portfolio-content__download {
	padding: 24px 0px;
	width: 100%;
	color: #ffffff;
	font-size: 22px;
	text-shadow: none;
	line-height: 1.5;
	font-style: normal;
	text-align: center;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	font-weight: 600;
}

.portfolio-content__download > div {
	display: flex;
	align-items: center;
}

.download-title {
	color: #ffffff;
	font-size: 22px;
}

.portfolio-content__download__platforms {
	display: flex;
	gap: 36px;
	padding-left: 30px;
	margin-top: 10px;
}

.portfolio-content__download__platforms img {
	width: 45px;
	height: 45px;
}

.portfolio-content__stats {
	padding: 24px 0px;
	width: 100%;
	display: flex;
	flex-direction: row;
	/* flex-wrap: wrap; */
	align-items: center;
	justify-content: flex-start;
	color: #ffffff;
	font-size: 32px;
	font-weight: 600;
	list-style: none;
	line-height: 1.5;
}

.portfolio-content__stats div {
	/* margin: 10px; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.divider {
	width: 1px;
	height: 123%;
	background-color: #ccc;
	margin: 0 3.6rem;
	padding: 0;
}

.portfolio-image {
	width: 50%;
	flex: 1 1 auto;
	display: flex;
}

.portfolio-image-container {
	overflow: hidden;
	padding-left: 36px;
	width: 100%;
	/* width: auto; */
}

.portfolio-image-container img {
	height: 600px;
}

.portfolio-cta {
	height: fit-content;
	padding: 0px 10px 48px;
}

.portfolio-cta__btn {
	font-family: var(--font-jost);
	text-align: center;
	letter-spacing: 2px;
	word-spacing: normal;
	text-transform: none;
	font-weight: 500;
}

@media (max-width: 1023px) {
	/* Styles here apply to screen widths less than 1024px */

	.divider {
		margin: 0px 2.6rem;
	}

	.portfolio-image-container img {
		height: 500px;
	}
}

@media (max-width: 767px) {
	/* Styles here apply to screen widths less than 768px */

	.portfolio-container {
		flex-direction: column-reverse;
	}

	.portfolio-container > div {
		width: 100%;
	}

	.portfolio-content {
		text-align: center;
		align-items: center;
	}

	.portfolio-content__download > div {
		justify-content: center;
	}

	.portfolio-content__stats {
		flex-direction: column;
		justify-content: center;
	}

	.portfolio-image-container {
		display: flex;
		justify-content: center;
		padding-block: 48px;
		padding-left: 0px;
	}

	.portfolio-image-container img {
		height: 300px;
	}

	.portfolio-cta {
		display: flex;
		justify-content: center;
	}
}
