.services {
	padding: 80px 0;
}

.services-list {
	display: flex;
	position: relative;
	align-items: stretch;
}

.service-card {
	width: 25%;
	/* height: 100%; */
	margin: 0 12px;
	padding: 50px 30px;
	background-color: var(--primary-color);
	border-radius: 10px;
	box-shadow: 10px 10px 10px -2px rgba(33, 40, 51, 0.56);
}

.service-content {
	width: 100%;
	text-align: left;
	display: flex;
	flex-direction: column;
}

.service__image {
	width: 100%;
	margin-bottom: 15px;
}

.service__image span {
	display: block;
	width: 50px;
	height: 50px;
}

.service__image span svg {
	width: 100%;
	height: 100%;
	fill: white;
}

.service__title {
	font-size: 24px;
	line-height: 1.3;
	margin-bottom: 1rem;
	color: var(--secondary-color);
}

.service__description {
	font-size: 18px;
	line-height: 1.7;
	color: var(--text-primary);
}

@media (max-width: 1023px) {
	/* Styles here apply to screen widths less than 1024px */
	.services-list {
		flex-wrap: wrap;
		justify-content: center;
		gap: 12px;
	}

	.service-card {
		width: 45%;
	}
}

@media (max-width: 767px) {
	.service-card {
		width: 100%;
	}
}
