.footer {
	width: 100%;
	background-color: #fff;
	padding: 30px 0px 20px;
}

.footer__container {
	display: flex;
	justify-content: start;
	padding: 50px 20px 10px;
}

/* footer socials */
.footer__socials {
	width: 30%;
	/* flex: 1 1 0; */
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	text-align: center;
	margin-right: 30px;
	padding: 10px;
}

.footer-location p {
	font-size: 16px;
}

.footer-social-icons {
	display: flex;
}

.social-icons-container {
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
	justify-content: center;
}

.social-icon {
	width: 40px;
	height: 40px;
	background-color: var(--primary-color);
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-icon svg {
	margin-top: -4px;
	width: 1.5rem;
	height: 1.5rem;
	fill: #fff;
}

/* footer navigation  */
.footer__navigation {
	width: 70%;
	display: flex;
	gap: 20px;
}

.footer-nav__item {
	width: 33%;
	padding: 10px;
}
.footer-nav__title {
	margin-bottom: 24px;
}
.footer-nav__title h5 {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
	/* margin-bottom: 2px; */
}
.footer-nav__title-line {
	height: 4px;
	background-color: var(--secondary-color);
	width: 108px;
	margin-left: 12px;
	/* margin-bottom: 10px; */
}

.footer-nav__list {
	margin-bottom: 10px;
}

.footer-nav__link {
	font-family: var(--font-text);
	font-size: 16px;
	padding-bottom: 6px;
}
.footer-nav__link:hover {
	color: var(--secondary-color);
}

/* footer foot */
.footer__copyright {
	text-align: center;
	padding: 0px 0px;
}

@media (max-width: 767px) {
	.footer__container {
		flex-direction: column;
		gap: 36px;
	}
	.footer__socials {
		width: 100%;
		margin-right: 0px;
	}

	.footer__navigation {
		width: 100%;
	}
}
