.header {
	background-color: var(--bg-main);
	min-height: 66px;
	width: 100%;
	height: fit-content;
	position: fixed;
	margin-top: 0px;
	margin-bottom: 0px;
	top: 0px;
	z-index: 100;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	transition: background 0.3s, border 0.3s, border-radius 0.3s,
		box-shadow 0.3s;
	padding: 10px 50px 10px 50px;
}

.header__nav {
	height: max-content;
	max-width: 1320px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 0px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	/* overflow: hidden; */
}

.header__logo {
	/* display: flex; */
	position: relative;
	width: 15%;
	padding: 0px;
}

.header__logo img {
	height: auto;
	width: 150px;
	max-width: 100%;
	object-fit: contain;
}

.header__menu,
.header__menu-mobile {
	padding: 15px 0px;

	width: 70%;
	/* padding-left: 9%; */
	display: flex;
	flex-wrap: wrap;
	row-gap: 19px;
	justify-content: flex-end;
	align-items: center;

	list-style: none;
}

.header__menu li {
	font-weight: 600;
	font-size: 16px;
	font-family: var(--font-text);
	color: black;
	cursor: pointer;
}

.header__menu li:hover {
	color: var(--secondary-color);
}

.active {
	color: var(--secondary-color);
}

.header__menu li a {
	padding: 10px 19px;
}

.header-btn {
	width: 15%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.header__menu-mobile {
	display: none;
	gap: 20px;

	position: relative;
}

@media (max-width: 1023px) {
	/* Styles here apply to screen widths less than 1024px */

	.header__logo,
	.header-btn {
		width: 30%;
	}

	.header__menu {
		display: none;
	}

	.header__menu-mobile {
		display: flex;
		justify-content: center;
		padding: 0px;
		gap: 0px;
	}
}

@media (max-width: 767px) {
	.header__logo img {
		margin-top: 9px;
	}
}

@media (max-width: 575px) {
	.header__nav {
		height: 100%;
	}

	.header__logo {
		width: 50%;
	}

	.header__logo img {
		margin-top: 9px;
	}

	.header__menu-mobile {
		width: 50%;
		justify-content: flex-end;
	}

	.header-btn {
		display: none;
	}
}
