.client-reviews {
	padding: 60px 0px 140px;
	background-image: url(/img/reviews-bg.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	/* height: auto; */
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
}

.review-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px;
}

.review-content {
	width: 33%;
}

.review-content > p {
	font-size: 24px;
	color: var(--text-secondary);
	margin-bottom: 1rem;
}

.review-list-container {
	width: 66%;
	padding-left: 12px;
}

.review-list {
	margin-left: 60px;
	padding-top: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	overflow-x: hidden;
}

.review-card {
	width: 50%;
	padding: 30px;
	background-color: #fff;
	-webkit-box-shadow: 9px 11px 14px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 9px 11px 14px 0 rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
}

.review-card_rating {
	padding: 10px 0px 10px;
}
.rating-stars {
	display: flex;
	flex-direction: row;
	column-gap: 2px;
}

.review-card_description {
	padding: 30px 0px;
	font-size: 16px;
	color: var(--text-black-50);
}

.review-card_bio {
	font-family: var(--font-jost);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.review-card_bio strong {
	font-size: 16px;
}
.review-card_bio span {
	font-size: 13px;
	color: var(--text-black-50);
}

@media (max-width: 1023px) {
	/* Styles here apply to screen widths less than 1024px */
	.review-container {
		flex-direction: column;
	}

	.review-content,
	.review-list-container {
		width: 100%;
		padding: 0px 36px;
	}

	.review-list {
		margin-left: 2px;
	}
}

@media (max-width: 767px) {
	.review-list {
		flex-wrap: wrap;
	}
	.review-card {
		width: 100%;
	}
}
